.root {
    width: 100%;
    background: #fff;
    border: 1px solid rgba(0,0,0,.2);
    font-size: 13px;
    line-height: 22px;
    height: 28px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    transition: border-color .1s ease-out, background .1s ease-out;
    display: inline-block;
    box-sizing: border-box;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    position: relative;
    text-align: center;
    background: 0 0;
    border-radius: 3px;
    cursor: pointer;
    text-decoration: none;
}
