.root {
    height: 100%;
}

.sidebar-wrapper {
    height: 100%;
}

.hidden {
    display: none;
}

.sidebar {
    width: 400px;
    height: 100%;
    padding: 20px;
    box-shadow: inset 1px 0 0 #f0f0f0;
    background: #fff;
}
