{{#if model}}
    <tr class="row max">
        <td colspan="2">
            <Textarea model=model name="text"/>
        </td>
    </tr>
{{/if}}
<tr class="row">
    <td>
        <Button model=model method="save">Save</Button>
    </td>
    <td>
        <Button model=model method="remove">Remove</Button>
    </td>
</tr>
