@import url(https://fonts.googleapis.com/css?family=Roboto+Mono|Roboto&subset=latin,cyrillic);

:global body, :global html {
    font-family: "Roboto",sans-serif;
    margin: 0;
    padding: 0;
    background: #f6f5f3;
    overflow: hidden;
}

:global html {
    overflow-x: auto;
    min-width: 800px;
}

.root {
    composes: font_normal from '../Base.css';
    padding-top: 52px;
}

.layout {
    display: flex;
    width: 100%;
    height: 100%;
}

.layout .column {
    height: 100%;
}

.layout .column.grow {
    flex-grow: 2;
}
