@import url(https://fonts.googleapis.com/css?family=Roboto+Mono|Roboto&subset=latin,cyrillic);

:global body, :global html {
    font-family: "Roboto",sans-serif;
    margin: 0;
    padding: 0;
    background: #f6f5f3;
    overflow: hidden;
}

.root {
    composes: font_normal from '../Base.css';
    padding-top: 52px;
}
