.root {
    cursor: pointer;
}

.root circle {
    fill: #b0c4de;
    stroke: steelblue;
    stroke-width: 1.5px;
}

.root.expanded circle {
    fill: #fff;
}

.root text {
    font: 10px sans-serif;
}
