.node {
    cursor: pointer;
    fill: #b0c4de;
    stroke: #4682b4;
    stroke-width: 1.5px;
}

.node.expanded {
    fill: #fff;
}

.link {
    cursor: pointer;
    fill: none;
    stroke: #4682b4;
    stroke-width: 1.5px;
}
