{
    "presets": [
        ["latest", {
            "es2016": {
                "loose": true
            },
            "es2017": {
                "loose": true
            }
        }]
    ],
    "plugins": [
        "transform-decorators-legacy",
        "transform-object-rest-spread"
    ]
}
